@font-face {
  src: url("../media/NeutralFace-Bold.woff2") format("woff2");
  font-family: "neutral_bold";
}
@font-face {
  src: url("../media/NeutralFace.woff2") format("woff2");
  font-family: "neutral";
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: neutral;
}

.container {
  padding: 0px 14%;
}

.header {
  font-size: 5.4vw;
  margin-left: 20px;
  color: #000;
  font-family: neutral_bold;
  text-transform: uppercase;
  text-align: center;
}

.gray_line {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.062745098);
  border-radius: 50px;
}

.section {
  width: 49%;
  display: inline-block;
}

.right_section {
  text-align: right;
}

.txt {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.title_line {
  font-family: neutral;
  font-size: 2.5vw;
  margin-top: 20px;
}
.title_line .left_section {
  text-align: left;
}
.title_line .left_section .txt {
  margin-left: 20px;
}
.title_line .right_section .txt {
  margin-right: 20px;
}

.flex-icon {
  display: flex;
  margin-top: 10px;
}
.flex-icon .td {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#74d8ff, #7479ff);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .td:hover {
  transform: scale(1.05);
}
.flex-icon .photo {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#74a9ff, #a074ff);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .photo:hover {
  transform: scale(1.05);
}
.flex-icon .son {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#747bff, #d174ff);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .son:hover {
  transform: scale(1.05);
}
.flex-icon .animation {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#9b74ff, #ff74fd);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .animation:hover {
  transform: scale(1.05);
}
.flex-icon .instalation {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#ca74ff, #ff74cc);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .instalation:hover {
  transform: scale(1.05);
}
.flex-icon .jeux {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#f874ff, #ff749b);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .jeux:hover {
  transform: scale(1.05);
}
.flex-icon .web {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#ff74d8, #ff7d74);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .web:hover {
  transform: scale(1.05);
}
.flex-icon .interactif {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#ff74a9, #ffae74);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .interactif:hover {
  transform: scale(1.05);
}
.flex-icon .deisgn {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#ff747b, #ffdf74);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .deisgn:hover {
  transform: scale(1.05);
}
.flex-icon .video {
  color: #fff;
  font-size: 1.2rem;
  font-family: neutral_bold;
  border-radius: 50px;
  padding: 13px 25px;
  background: linear-gradient(#ff9b74, #efff74);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.3s;
  text-transform: capitalize;
}
.flex-icon .video:hover {
  transform: scale(1.05);
}

.icon_line {
  vertical-align: top;
  display: flex;
}

.flex-brand {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.flex-brand img {
  height: 51px;
  transition-property: all;
  transition-duration: 0.3s;
  margin-left: 15px;
}
.flex-brand img:hover {
  transform: scale(1.07);
}

.bloc_media {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 100%;
  background-color: #EEEEEE;
}
.bloc_media .media {
  width: 70%;
  aspect-ratio: 16/9;
}
.bloc_media .media-slide {
  width: 70%;
}

.flex_box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex_box .bloc_presentation {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "open sans";
  font-size: 1.4vw;
  line-height: 2;
  text-align: justify;
  padding-bottom: 60px;
}
.flex_box .bloc_presentation .bloc {
  display: inline-block;
}
.flex_box .bloc_presentation .bloc img {
  width: 100%;
}
.flex_box .bloc_presentation_droit {
  width: 40%;
}
.flex_box .bloc_presentation_gauche {
  width: 55%;
}

.card-swiper .swiper-wrapper .swiper-slide img, .head-swiper .swiper-wrapper .swiper-slide img, .photo-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.bloc_top {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "open sans";
  font-size: 1.25vw;
  line-height: 1.6;
  text-align: center;
  padding-bottom: 0px;
}

.footer {
  padding: 1.7vw;
  font-size: 1vw;
  background-color: #141414;
  color: #eeeeee;
  font-family: neutral;
  display: flex;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  align-items: center;
}
.footer_left a {
  text-decoration: none;
  color: inherit;
}
.footer_right a img {
  width: 2vw;
  height: 2vw;
}

.flow {
  position: absolute;
  z-index: -1;
  filter: blur(6px);
}
.flow img {
  width: 100%;
}

.flow_left {
  width: 20%;
  top: 0;
  left: 0;
}

.flow_right {
  width: 18%;
  top: 0;
  right: 0;
}/*# sourceMappingURL=projet_individuel.css.map */