@use "sass:color";

@font-face {
    src: url("../media/NeutralFace-Bold.woff2") format("woff2");
    font-family: "neutral_bold";
}
@font-face {
    src: url("../media/NeutralFace.woff2") format("woff2");
    font-family: "neutral";
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    
    font-family: neutral;
}

.container{
    padding: 0px 14%;
}

.header{
    font-size: 5.4vw;
    margin-left: 20px;
    color: #000;
    font-family: neutral_bold;
    text-transform: uppercase;
    text-align: center;
}

.gray_line{
    width: 100%;
    height: 5px;
    background-color: #00000010;
    border-radius: 50px;
}

.section{
    width: 49%;
    display: inline-block;
}
.right_section{
    text-align: right;
}

.txt{
    text-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.20);
}

.title_line{
    font-family: neutral;
    font-size: 2.5vw;
    margin-top: 20px;
    $margin-title: 20px;

    .left_section{
        text-align: left;

        .txt{
            margin-left: $margin-title;
        }
    }

    .right_section{

        .txt{
            margin-right: $margin-title
        }
    }
}

$tagArr: td, photo, son, animation, instalation, jeux, web, interactif, deisgn, video;
$margin-icon: 10px;

.flex-icon{
    display: flex;
    margin-top: 10px;
    
    @each $tag in $tagArr {
        $index: index($tagArr, $tag);
        .#{$tag} {
            color: #fff;
            font-size: 1.2rem;
            font-family: neutral_bold;
            border-radius: 50px;
            padding: 13px 25px;
            $primary-hue : color.adjust(#74fff8, $hue: $index*20);
            $second-color: color.adjust($primary-hue, $hue: $index +40);
            background: linear-gradient($primary-hue, $second-color);
            box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.20);
            margin-right: $margin-icon;
            text-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.20);
            transition-property: all;
            transition-duration: 0.3s;
            text-transform: capitalize;

            &:hover{
                transform: scale(1.05);
            }
        }
    }   
}

.icon_line{
    vertical-align: top;

    display: flex;
}

.flex-brand{
    display: flex;
    justify-content: end;
    margin-top: 10px;

    $icon_height: 51px;

        img{
            height: $icon_height;
            transition-property: all;
            transition-duration: 0.3s;
            margin-left: $margin-icon*1.8;

            &:hover{
                transform: scale(1.07);
            }
        }

}


// $colorsArr: 3d, video, stop, gray;

// @each $color in $colorsArr {
//   .msg-#{$color} {
//     background-color: $color;
//   }
// }

// $content_width: 90%;

.bloc_media{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    position: relative;
    
    width: 100%;
    background-color: #EEEEEE;

    .media{
        width: 70%;
        aspect-ratio: 16/9;
    }

    .media-slide{
        width: 70%;
    }
}

.pagination_jaune{
    .swiper-pagination-bullet{
        background-color: #ffffffc3;
        
    }
    
    .swiper-pagination-bullet-active{
        background-color: #ffc72eb8;
    }
}

.pagination_ed{
    .swiper-pagination-bullet{
        background-color: #ffffff;
        
    }
    
    .swiper-pagination-bullet-active{
        background-color: #c64bffa4;
    }
}

.flex_box{
    display: flex;
    justify-content: center;
    width: 100%; 
    
    .bloc_presentation{
        width: 100%;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        font-family: "open sans";
        font-size: 1.4vw;
        line-height: 2;
        text-align: justify;

        .bloc{
            display: inline-block;

            img{
                width: 100%;

            }
        }

        &_droit{
            width: 40%;
        }

        &_gauche{
            width: 55%;
            
        }
    }
}

.card-swiper, .head-swiper, .other-swiper{
    .swiper-wrapper{
        .swiper-slide{
            img{
                width: 100%;
            }
        }
    }
}



.ed-swiper,  .jaune_swiper{
    .swiper-wrapper{
        .swiper-slide{
            display: flex;
            justify-content: center;
            img{
                height: 100%;
            }
        }
    }
}


.bloc_top{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-family: "open sans";
    font-size: 1.25vw;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 0px;  
}

.bloc_no_top{
    margin-top: 20px;
}

.div_link_edria{
    text-align: center;
    .link_edria{
        color: rgb(255, 68, 230);
        text-decoration-color: rgb(255, 68, 230);
        font-size: 1.7rem;
        transition-property: all;
        transition-duration: 0.2s;
        text-align: right; 
        &:hover{
            text-decoration-color: rgb(111, 1, 194);
            color: rgb(111, 1, 194);
        }
    }
}


.footer{
    padding: 1.7vw;
    font-size: 1vw;
    background-color: #141414;
    color: #eeeeee;
    font-family: neutral;
    display: flex;
    justify-content: space-between;

    &_left{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            color: inherit
        }
    }

    &_right{
        a{
            img{
                width: 2vw;
                height: 2vw;
            }
        }
        
    }
}

.flow{
    position: absolute;
    z-index: -1;
    filter: blur(6px);

    img{
        width: 100%;
    }
}

.flow_left{
    width: 20%;
    top: 0;
    left: 0;
}

.flow_right{
    width: 18%;
    top: 0;
    right: 0;
}

.back{

    text-align: right;
    font-family: neutral;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-top: 4vh;
    transition-property: all;
    transition-duration: 300ms;
    padding-bottom: 60px;  
    
    color:rgb(224, 0, 0);
    
    &:hover{
        text-shadow: 0px 0px 10px #00000016;
    color: #000;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
}

.back,.sample{
    font-size: 1.3vw;
}