@use "sass:color";

@font-face {
    src: url("../media/NeutralFace-Bold.woff2") format("woff2");
    font-family: "neutral_bold";
}
@font-face {
    src: url("../media/NeutralFace.woff2") format("woff2");
    font-family: "neutral";
}

*{
    box-sizing: border-box;
}

.container{
    padding: 40px 10vw;
}

.header{
    font-size: 5.2vw;
    margin-left: 20px;
    color: #000;
    font-family: neutral_bold;
    text-transform: uppercase;
    text-align: center;
}

.gray_line{
    width: 100%;
    height: 5px;
    background-color: #00000010;
    border-radius: 50px;
}

.section{
    width: 49%;
    display: inline-block;
}
.right_section{
    text-align: right;
}

.title_line{
    font-family: neutral;
    font-size: 2.5vw;
    margin-top: 40px;
    $margin: 20px;

    .left_section{
        text-align: left;

        .txt{
            margin-left: $margin;
        }
    }

    .right_section{

        .txt{
            margin-right: $margin;
        }
    }
}


$colorsArr: 3d, video, stop, gray;

@each $color in $colorsArr {
  .msg-#{$color} {
    background-color: $color;
  }
}

.bloc_media{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    
    background-color: #00000056;

    .media{
        width: 60%;
        aspect-ratio: 16/9;
    }
}

.bloc_presentation{
    width: 100%;
    margin-top: 60px;

    .bloc{
        display: inline-block;
    }

    &_gauche{
        width: 40%;
        background-color: red;
        height: 600px;
    }

    &_droit{
        width: 59%;
        height: 600px;
        background-color: blue;
    }
}
